body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
    font-style: normal;
}

.header-navigation {
    font-family: "Raleway",sans-serif;
}
.header-logo {
color:#4D5AE5;
font-family: "Raleway",sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px;
letter-spacing: 0.54px;
text-transform: uppercase;
}
.header-span {
color:#2e2f42;
font-family: "Raleway";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px; 
letter-spacing: 0.54px;
text-transform: uppercase;
}
.nav-list-span {
}
.header-menu-link {
    color:#2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height:1.5;
    letter-spacing:0.02em;
   }
.header-menu-item {
color:#2E2F42;
font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.15;
letter-spacing: -0.32px;
}


.header-menu-link:focus{
color: #404bbf;
}
.header-menu-link:hover{
    color: #404bbf;
}
.address {
color:#434455;
font-family: Roboto;
font-size: 16px;
font-style:normal;
font-weight:400;
line-height:1.5;
letter-spacing: -0.02em;
}
.adress-menu {
}
.adress-menu-item {
    color:#434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.02em;
    list-style: none;
}
.main {
    background-color: #2E2F42;
}
.main-text {
    color:#FFF;
font-family: Roboto;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height:24px; 
letter-spacing: 1.12px;
}
.button {
    color:#FFF;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.64px;
border-radius: 4px;
background: #4D5AE5;

}
.Title-section {
}
.servicses {
}
.activity {
}
.servises {
}