body{
    font-family: "Montserrat",sans-serif;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-style: normal;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.header-navigation {

}
.header-logo {
color:#4D5AE5;
font-family: "Raleway",sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height:1.17;
letter-spacing: 0.54px;
text-transform: uppercase;
}
.header-span {
color:#2e2f42;
font-family: "Raleway";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px; 
letter-spacing: 0.54px;
text-transform: uppercase;
}
.nav-list-span {
}
.header-menu-link {
    color:#2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height:1.5;
    letter-spacing:0.02em;
}
.header-menu-item {
color:#2E2F42;
font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.15;
letter-spacing: -0.32px;
}


.header-menu-link:focus{
color: #404bbf;
}
.header-menu-link:hover{
    color: #404bbf;
}
.address {
color:#434455;
font-family: "Roboto";
font-size: 16px;
font-style:normal;
font-weight:400;
line-height:1.5;

}
.adress-menu {
}
.adress-menu-item {

}


.button {
    color:#FFF;
font-family:"Roboto";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height:1.5;
letter-spacing:0.04em;
background-color: #4D5AE5;
cursor: pointer;
}
.button.link:focus{
background-color: #404BBF;
}
.button.link:hover{
background-color: #404BBF;
}
/*---------MAIN------------*/



.main {
background-color: #2E2F42;
}
.main-text {
color: #FFF;
font-family: "Roboto",sans-serif;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 1.07; 
text-align: center;
letter-spacing: 0.02em;
}

.button link {
    color:#FFF;
    font-family: "Roboto",sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; 
letter-spacing: 0.64px;
    background-color:#4D5AE5;
}
.title {
    color:#2E2F42;
font-family: "Roboto";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; 
letter-spacing: 0.4px;
}
.title-text {
    color:#434455;
font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.32px;
}
.team {
background-color: #F4F4FD
}
.title-team {
color:#2E2F42;
font-family: "Roboto";
font-size: 36px;
line-height:1.11; 
text-align: center;
letter-spacing:0.02em;
text-transform: capitalize;
}
.team-title{
    color:#2E2F42;
font-family: "Roboto";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height:1.2;
letter-spacing:0.02em;
}

.team-text{
color: #434455;
font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height:1.5; 
letter-spacing:0.02em;
}

.title-section {
}
.servises {
}
.activity {
}