
body{
    font-family: "Montserrat",sans-serif;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-style: normal;
}
img{display:block;}
h1,h2,h3,p{margin: 0;}

ul{
    margin: 0;
    padding: 0;}

a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

.header{
display: flex;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
0px 1px 1px rgba(46, 47, 66, 0.16),
0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container{
    width: 1158px; 
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  
  }

.additional-default{
    display: flex;
    align-items: center;
}


.header-navigation {
    line-height: 1.15;
    font-family: 'Roboto', sans-serif;
    color: #434455;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.name {
color:#4D5AE5;
font-family: "Raleway",sans-serif;
font-size: 18px;
font-weight: 700;
line-height:1.6;
letter-spacing:0.03em;
text-transform: uppercase;
margin-right: 76px;
}
.header-name{
color:#2e2f42;

}

.header-list{
    display: flex;
    gap:40px;
}
.header-item{
display: inline-block;
  color: #404bbf;
}

.header-link {
    position: relative;
    display: block;
   color: var(--NAVY-BLUE, #2E2F42);
    font-size: 16px;
    transition : color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight:400;
    line-height:1.5;
    letter-spacing:0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
}

.hover.header-link{
    color:#404bbf;; 
}




.hover::after {
  background: var(--ocean, #404bbf);
  border-radius: 2px;
  width:100%;
  height: 4px;
  content: '';
  position: absolute;
display: block;
  bottom: -1px;
}


.header{
    background-color: #fff;
    border-bottom: 1px solid #e7e9fc;
}


.header-address{
font-style: normal;
margin-left:auto;
}

.header-address-list {
display: flex;
gap:40px;
padding:0px;

}

.header-address-link{
letter-spacing: 0.02em;
color:#434455;
 transition : color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-menu-item {
color:#434455;
letter-spacing: 0.02em


}

.header-address-link:focus,.header-address-link:hover{
color: #404bbf;
}





/*---------MAIN------------*/



.section-hero {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto;
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}


.main-text {
color: #FFF;
font-family: "Roboto",sans-serif;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height:107.143%; 
text-align: center;
letter-spacing:1.12px;
max-width: 496px;
margin: 0 auto;
margin-bottom: 48px;
}

.button-main {
 display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-main:focus,.button-main:hover{
background-color: #404BBF;
}




.text-main{
    padding: 120px 0 120px;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}


.skills{
    display: flex;
    gap:24px;
}

.team{
background-color: #F4F4FD;
padding:120px 0;
}

.one{
width: calc((100% - 72px) / 4);
}



.feature-icon-box{

  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
}

.icon-astronaut{

}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px; 
}
.title-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.team-list-item {
background-color: #F4F4FD
}
.title-team {
color:#2E2F42;
font-size: 36px;
line-height:1.11; 
text-align: center;
letter-spacing:0.02em;
text-transform: capitalize;
margin-bottom: 72px;

}

.product{
    display: flex;
    gap:24px;
}

.team-title{
    color:#2E2F42;
font-family: "Roboto";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height:1.2;
letter-spacing:0.02em;
text-align: center;
margin-bottom:8px;
}

.team-list{
padding-bottom: 0px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 32px;
    background-color: #ffffff;
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px
    rgba(46, 47, 66, 0.08);
}

.team-text{
color: #434455;
font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height:1.5; 
letter-spacing:0.02em;
text-align: center;
margin-bottom: 8px;
}

.socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.socials-item {
  width: 40px;
  height: 40px;
}

.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icon{
    fill: #f4f4fd;
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}


.text-border{
padding: 32px 0;
padding-bottom: 32px;
}

/*---portfolio--------*/


.section-portfolio{
  padding-bottom: 120px;
  padding-top: 120px;
}

.portfolio-title {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-transform: capitalize;

}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 48px 24px;
}

.portfolio-item:hover {
  cursor: pointer;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover p {
  transform: translateY(0%);
}

.overlay-porfolio {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  padding: 40px 32px;
  color: #f4f4fd;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  background-color: #4d5ae5;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.portfolio-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.work{

    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


.title-section {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.servises {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.activity {
    font-weight: 400;
    font-style: normal;
    font-family: "Roboto";
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*----FOOOTER---*/



.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.footer-box-text {
  margin-right: 120px;
}

.footer-link {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-subtitle {
  margin-bottom: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.footer-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-socials-item {
  width: 40px;
  height: 40px;
}

.footer-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}


/*--------------------------------*/




.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.657);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity  250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 background-color: rgba(46, 47, 66, 0.4)
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #FCFCFC;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.14),
   0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }

.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: none;
   cursor: pointer; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  border: 1px solid rgba(0,0,0,0.1);
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
   border-radius: 50%; 
  padding: 0;
}

.modal-btn.hover::after{
background-color: #404bbf;
border:none;
}

.modal-btn-icon {
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  width: 24px;
height: 24px;
flex-shrink: 0;

  fill: var(--CORNFLOWER, #E7E9FC);
stroke-width: 1px;
stroke: rgba(0, 0, 0, 0.10);
}



.modal-title {
  text-align:center;
  width: 360px;
  padding:72px,24px,10px;
  color: var(--NAVY-BLUE, #2E2F42);
color:#2e2f42;
font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-input {
width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid  rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  padding-right: 24px;

  font-size: 16px;
transition: border-color 250ms cubic-bezier(0.4,0,0.2,1);
outline: transparent;
}

.input-wrap:focus-within .modal-input {
  border-color: #4D5AE5;
}

.input-wrap:focus-within .modal-icon {
  stroke:#4D5AE5;
}

/* .modal-input:focus {
  border-color: #fd9222;
}

.modal-input:focus + .modal-icon {
  stroke: #fd9222;
} */

.modal-input::placeholder {
  color: #6a5c75;
  font-size: 12px;
}

.modal-form-btn {
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    letter-spacing: 0.04em;
    gap:10px;
}

.modal-form-btn{
  background-color: #4d5ae5;
    color: #ffffff;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.5;
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    padding: 16px 32px 16px 32px;
    min-width: 169px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}


.modal-form-btn:focus,.modal-form-btn:hover{
background-color: #404BBF;
}

.input-wrap {
  position: relative;
}

.modal-label {
  display: block;
  color: #8E8F99;
  font-size: 12px;
  line-height: 1.17;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 4px;
  letter-spacing:0.48px;

}



.modal-icon {
position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
width: 18px;
height: 18px;
flex-shrink: 0;
fill:#2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  width: 100%;
  height: 137px;
  border-radius: 13px;
  border: 1px solid rgba(17, 17, 17, 0.25);
  background-color: transparent;
  padding: 22px 24px;
  font-size: 16px;
  outline: transparent;
  transition: border-color 300ms linear;
  resize: none;
}

.modal-textarea::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-size: 18px;
  line-height: normal;
  letter-spacing: -0.02em;
}

.checkbox-label{
  color: var(--LIGHT-SLATE, #8E8F99);
font-size: 12px;
line-height: 14px; /* 116.667% */
letter-spacing: 0.48px;
}




.modal-textarea {
  width: 100%;
  height: 137px;
  border-radius: 13px;
  border: 1px solid rgba(17, 17, 17, 0.25);
  background-color: transparent;
  padding: 22px 24px;
  color: teal;
  font-size: 16px;
  outline: transparent;
  transition: border-color 300ms linear;
  resize: none;
}

.modal-textarea::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-size: 18px;
  line-height: normal;
  letter-spacing: -0.02em;
}

.check-text {
  color: rgba(64, 64, 64, 0.6);
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  position: relative;
}

.check-text a {
color: var(--IRIS, #4D5AE5);
}

.check-text-box {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-check:checked + .check-text > .check-text-box {
fill: var(--OCEAN, #404BBF);
stroke-width: 1px;
stroke: var(--OCEAN, #404BBF);
}